<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>getPost</title>
    <script src="vue.js"></script>
    <script src="axios.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<div id="app">
    <div class="card" style="border-color: deepskyblue">
        <div class="card-heading" style="background-color: deepskyblue">
            <h3 class="card-title">添加品牌</h3>
        </div>
        <div class="card-body form-inline">
            <label>id:<input type="text" v-model="id"></label>
            <label>name:<input type="text" v-model="name" @keyup.enter="add"></label>
            <button type="button" class="btn btn-primary" style="margin: 2px 10px 2px 10px" @click="add">添加</button>
            <input type="text" placeholder="输入关键字" v-model="keyword">
        </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>ctime</th>
            <th>operation</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in search(keyword)" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.ctime | dateFormatter(pattern)}}</td>
            <td><a href="" @click.prevent="del(item.id)">删除</a></td>
        </tr>
        </tbody>
    </table>
    <div v-fontweight="'300'" v-fontsize="'30px'">{{msg | msgFormat}}</div>
    <button type="button" class="btn btn-primary" @click="changePattern">修改时间格式</button>
</div>
</body>
<script>


    var vm = new Vue({

        el: '#app',
        data: {
            id: '',
            name: '',
            keyword: '',
            pattern: 'yyyy-MM-dd HH:mm:ss',
            msg: 'pig is me and human is yours',
            list: []
        },
        methods: {
            add() {
                var car = {id: this.id, name: this.name, ctime: new Date()}
                /* axios.post('http://www.liulongbin.top:3005/api/addproduct', car.name.toString())
                     .then(result => {
                         console.log(result.data)
                     })*/
                this.id = ''
                this.name = ''

            },
            del(id) {
                this.list.some((item, i) => {
                    if (item.id == id) {
                        this.list.splice(i, 1)
                        return true
                    }
                })
            },
            search(keyword) {
                if (keyword == '') {
                    return this.list
                }
                var newList = []
                this.list.forEach(item => {
                    if (item.name.includes(keyword)) {
                        newList.push(item)
                    }
                })
                return newList
            },
            changePattern() {
                this.pattern = ((this.pattern != 'yyyy-MM-dd') ? 'yyyy-MM-dd' : 'yyyy-MM-dd HH:mm:ss')
            }
        },
        filters: {
            msgFormat: (msg) => {
                return msg + '!!!'
            },
            dateFormatter: (dateStr, pattern) => {
                var dt = new Date(dateStr)

                //yyyy-MM-dd
                var year = dt.getFullYear()
                var month = (dt.getMonth() + 1).toString().padStart(2, '0')
                var day = dt.getDate().toString().padStart(2, '0')

                if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                    return `${year}-${month}-${day}`
                }

                var hour = dt.getHours().toString().padStart(2, '0')
                var minute = dt.getMinutes().toString().padStart(2, '0')
                var second = dt.getSeconds().toString().padStart(2, '0')
                return `${year}-${month}-${day} ${hour}:${minute}:${second}`
            }
        },
        directives: {
            'fontweight': {
                bind: (el, binding) => {
                    el.style.fontWeight = binding.value
                }
            },
            'fontsize': (el, binding) => {
                el.style.fontSize = parseInt(binding.value) + 'px'
            }
        },
        created() {
            var instance = axios.create({
                baseURL: 'http://www.liulongbin.top:3005/',
                headers:{'Content-Type':'application/x-www-form-urlencoded'}
            })
            instance.get('api/getprodlist').then(response => {
                //this.list.push(response.data.message)
                if (response.data.status === 0) {
                    this.list = response.data.message
                }
            })
        },
    });


</script>
</html>